.callout {
    padding: 15px;
    margin: 3px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fefefe;
    -webkit-box-shadow: 0 5px 8px 0 rgba(169, 184, 200, 0.21);
    h4 {
        margin-top: 0;
        margin-bottom: 5px;
    }
    h6 {
        font-size: 15px;
        margin-bottom: 0;
    }
    p:last-child {
        margin-bottom: 0;
    }
    code {
        border-radius: 3px;
    }
    & + .bs-callout {
        margin-top: -5px;
    }
}

.callout.active {
    background-color: #cbced7;
}
.callout.active:hover {
    background-color: #b0b4bf;
}

.callout:hover{
    cursor: pointer;
    background-color: #dfe1e8;

    h4 {
        color: #fff;
    }
}

$colors: (
    'default': #ced4da,
    'primary':#428bca,
    'success':#5cb85c,
    'danger':#d9534f,
    'warning':#f0ad4e,
    'info':#5bc0de,
    'bdc':#29527a);

@each $name, $color in $colors{
    .callout-#{$name} {
        h4 {
            color: $color;
        }
    }
}
